<div class="container-fluid h-100">
  <div class=" row h-100 messenger-container">
       <!-- Sidebar -->
       <div class="col-12 col-md-3 col-lg-2 p-0 sidebar container">
           <div class="container mb-2 d-flex justify-content-between align-items-center">
               <p class="h4 m-0">Chats</p>
               <button style="border-radius: 50%; border: none; outline: none; background-color: rgb(236, 233, 233);">
                   <i class="fa-solid fa-pen-to-square"></i>
               </button>
               <!-- <button mat-button (click)="openDialog()" class="btn btn-primary" type="button"> <i class="fa-solid fa-plus"></i> Add Announcement
               </button> -->
           </div>
           <div class="container mb-3 mt-3">
               <div class="input-group">
                   <input type="text" [(ngModel)]="keyword" class="form-control" placeholder="Search chats" aria-label="Search chats" style="border-radius: 20px;">
               </div>
           </div>
           <input type="hidden"  [(ngModel)]="uid">
           <!-- List of Users -->
            @for(msg of messages | searchFilter: keyword; track msg.message_id){
                <div class="user-list-item" [routerLink]="['/main/message/messagepage/messages/view/' + msg.message_sender]" routerLinkActive="active-link">
                    <img src="st.jpg" alt="User" class="rounded-circle me-1" width="40" height="40">
                    <span>{{msg.sender_name}}<br></span>
                    <abbr title="">{{msg.message}}</abbr>
                </div>
            }
       </div>

       <!-- Main Content -->
       <div class="col-12 col-md-9 col-lg-10 p-0 main-content">
           <!-- Chat Header -->
           <router-outlet></router-outlet>
       </div>
   </div>
</div>