<div class="row">
  <div class="container mb-5 ms-1">
    <p class="h1">Student Grades</p>
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="d-flex align-items-center">
        <mat-form-field class="me-2">
          <mat-label>Grade Level</mat-label>
          <mat-select [(ngModel)]="selectedLevel" (ngModelChange)="updateRosters()" (selectionChange)="gradeLevelChange($event)">
            <!-- <mat-option>None</mat-option> -->
            @for (lvl of gradelevel; track lvl) {
            <mat-option [value]="lvl">{{lvl}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        
        @if(selectedLevel == '11' || selectedLevel == '12'){
          <mat-form-field class="me-2">
            <mat-label>Strand</mat-label>
            <mat-select [(ngModel)]="selectedStrand" (ngModelChange)="updateRosters()" (selectionChange)="strandChange($event)">
              <!-- <mat-option>None</mat-option> -->
              @for (strnd of strands; track strnd) {
              <mat-option [value]="strnd">{{strnd}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        } 
        <mat-form-field class="me-2">
          <mat-label>Section</mat-label>
          <mat-select [(ngModel)]="selectedSection" (ngModelChange)="updateRosters()">
            <!-- <mat-option>None</mat-option> -->
            @for (sect of sections; track sect) {
              <mat-option [value]="sect.section_name">{{sect.section_name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="me-2">
          <mat-label>Subject</mat-label>
          <mat-select [(ngModel)]="selectedSubject" (ngModelChange)="updateRosters()">
            <!-- <mat-option>None</mat-option> -->
            @for (subject of subjects; track subject) {
            <mat-option [value]="subject.subject_name">{{subject.subject_name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="me-2">
          <mat-label>Gender</mat-label>
          <mat-select [(ngModel)]="selectedGender" (ngModelChange)="updateRosters()">
            <!-- <mat-option>None</mat-option> -->
            @for (gender of genders; track gender) {
            <mat-option [value]="gender">{{gender}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      </div>
          <!-- Class Roster -->
          <div class="container align-self-center p-3 bg-white rounded" style="height: 430px; overflow-y: auto;">
            <div class="row">
              <div class="col-md-12 d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <!-- <p>{{rosters.roster_id}}</p> -->
                  @if(selectedLevel != '11' && selectedLevel != '12'){
                    <p class="h4 ms-2 text-start">Grade {{selectedLevel}} {{selectedSection}} - {{selectedSubject}} </p>
                  } @else {
                    <p class="h4 ms-2 text-start">Grade {{selectedLevel}} {{selectedStrand}} {{selectedSection}} - {{selectedSubject}} </p>
                  }     
                </div>
                <div>
                  <span><strong>Male:</strong> {{ maleStudents }}</span>
                  <span class="ms-3"><strong>Female:</strong> {{ femaleStudents }}</span>
                  <span class="ms-3"><strong>Total:</strong> {{ totalStudents }}</span>
                  <i class="fa fa-search" aria-hidden="true" style="margin-left: 80px; margin-bottom: 50px; cursor: pointer;" (click)="showSearchRoster = !showSearchRoster"></i>
                </div>
              </div>
              <table class="table table-hover mt-3">
                @if(selectedLevel >= '7' || selectedLevel <= '10'){
                  <thead class="table">     
                      <tr>
                        <th scope="col">Names</th>
                        <th class="text-center">1st Grading</th>
                        <th class="text-center">2nd Grading</th>
                        <th class="text-center">3rd Grading</th>
                        <th class="text-center">4th Grading</th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider">
                      @for(roster of rosters ; track roster){
                        <!-- @if(roster.grade_level >= 7 && roster.grade_level <= 10){ -->
                          <tr>
                              <th scope="row" [routerLink]="['/main/grades/gradespage/studentgrades/' + roster.LRN + '/' + roster.school_year]">{{roster.student_name}}</th>
                              @if(roster.permission_Q1 == 'none' || roster.permission_Q1 == 'on'){
                               <td class="text-center">{{roster.grade_Q1}}</td>
                              } @else if(roster.permission_Q1 == 'pending') {
                                <td class="text-center">{{roster.grade_Q1}} 
                                  <i class="fa fa-exclamation-circle pending" aria-hidden="true" (click)="toggleDropdown()"></i>
                                  <div *ngIf="isDropdownVisible" class="dropdown-content">
                                    <tr>
                                      <td (click)="permit(roster.grade_id_Q1)">Permit</td>
                                    </tr>
                                    <tr>
                                      <td (click)="decline(roster.grade_id_Q1)">Decline</td>
                                    </tr>
                                  </div>
                                </td>
                                
                              }
                              @if(roster.permission_Q2 == 'none' || roster.permission_Q2 == 'on'){
                                <td class="text-center">{{roster.grade_Q2}}</td>
                               } @else if(roster.permission_Q2 == 'pending') {
                                <td class="text-center">{{roster.grade_Q2}} 
                                  <i class="fa fa-exclamation-circle pending" aria-hidden="true" (click)="toggleDropdown()"></i>
                                  <div *ngIf="isDropdownVisible" class="dropdown-content">
                                    <tr>
                                      <td (click)="permit(roster.grade_id_Q2)">Permit</td>
                                    </tr>
                                    <tr>
                                      <td (click)="decline(roster.grade_id_Q2)">Decline</td>
                                    </tr>
                                  </div>
                                </td>
                               }
                               @if(roster.permission_Q3 == 'none' || roster.permission_Q3 == 'on'){
                                <td class="text-center">{{roster.grade_Q3}}</td>
                               } @else if(roster.permission_Q3 == 'pending') {
                                <td class="text-center">{{roster.grade_Q3}} 
                                  <i class="fa fa-exclamation-circle pending" aria-hidden="true" (click)="toggleDropdown()"></i>
                                  <div *ngIf="isDropdownVisible" class="dropdown-content">
                                    <tr>
                                      <td (click)="permit(roster.grade_id_Q3)">Permit</td>
                                    </tr>
                                    <tr>
                                      <td (click)="decline(roster.grade_id_Q3)">Decline</td>
                                    </tr>
                                  </div>
                                </td>
                               }
                               @if(roster.permission_Q4 == 'none' || roster.permission_Q4 == 'on'){
                                <td class="text-center">{{roster.grade_Q4}}</td>
                               } @else if(roster.permission_Q4 == 'pending') {
                                <td class="text-center">{{roster.grade_Q4}} 
                                  <i class="fa fa-exclamation-circle pending" aria-hidden="true" (click)="toggleDropdown()"></i>
                                  <div *ngIf="isDropdownVisible" class="dropdown-content">
                                    <tr>
                                      <td (click)="permit(roster.grade_id_Q4)">Permit</td>
                                    </tr>
                                    <tr>
                                      <td (click)="decline(roster.grade_id_Q4)">Decline</td>
                                    </tr>
                                  </div>
                                </td>
                               }
                          </tr>
                          }
                        <!-- } -->
                    </tbody>
                  } @else {
                    <thead class="table"> 
                      <th scope="col">Names</th>
                        <th class="text-center">Midterm</th>
                        <th class="text-center">Final</th>
                        <th class="text-center">Final Rating</th>
                    </thead>
                    @for(roster of rosters ; track roster){
                      <tr>
                        <th scope="row" [routerLink]="['/main/grades/gradespage/studentgrades/' + roster.LRN + '/' + roster.school_year]">{{roster.student_name}}</th>
                        @if(roster.permission_midterm == 'none' || roster.permission_midterm == 'on'){
                          <td class="text-center">{{roster.midterm}}</td>
                         } @else if(roster.permission_midterm == 'pending') {
                           <td class="text-center">{{roster.grade_midterm}} 
                             <i class="fa fa-exclamation-circle pending" aria-hidden="true" (click)="toggleDropdown()"></i>
                             <div *ngIf="isDropdownVisible" class="dropdown-content">
                               <tr>
                                 <td (click)="permit(roster.grade_id_midterm)">Permit</td>
                               </tr>
                               <tr>
                                 <td (click)="decline(roster.grade_id_midterm)">Decline</td>
                               </tr>
                             </div>
                           </td>
                           
                         }

                         @if(roster.permission_final == 'none' || roster.permission_final == 'on'){
                          <td class="text-center">{{roster.final}}</td>
                         } @else if(roster.permission_final == 'pending') {
                           <td class="text-center">{{roster.grade_final}} 
                             <i class="fa fa-exclamation-circle pending" aria-hidden="true" (click)="toggleDropdown()"></i>
                             <div *ngIf="isDropdownVisible" class="dropdown-content">
                               <tr>
                                 <td (click)="permit(roster.grade_id_final)">Permit</td>
                               </tr>
                               <tr>
                                 <td (click)="decline(roster.grade_id_final)">Decline</td>
                               </tr>
                             </div>
                           </td>
                           
                         }
                      </tr>
                    }
                  }
                
              </table>
            </div>
          </div>          
    </div>
  </div>

<!-- <div class="container ms-1">
    <p class="h1">Student Grades</p>
  </div>

  <div class="d-flex justify-content-between align-items-center mb-3">
    <div class="d-flex align-items-center">
      <mat-form-field>
        <mat-label>Search Name</mat-label>
        <input matInput [(ngModel)]="keyword">
      </mat-form-field>    </div>
  </div>
  <div class="container align-self-center p-3 bg-white rounded" >
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover">
            <thead class="table">
              <tr>
                <th scope="col">Student</th>
                <th class="text-center" scope="col">School Year</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              @for(enrollment of enrollments | searchFilter: keyword; track enrollment){
                 <tr [routerLink]="['/main/grades/gradespage/studentgrades/' + enrollment.LRN + '/' + enrollment.school_year]">
                <th scope="row">{{enrollment.full_name}}</th>
                <td class="text-center"> 
                  {{enrollment.school_year}}
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div> -->