<div class="row">
  <div class="container mb-5 ms-1">
    <div class="row ms-1">
      <div class="col">
        <div class="d-flex align-items-center">
          <p class="h1 me-3">Student Grades</p>
          <p class="mb-5">S.Y {{currentSY}}</p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <mat-form-field class="me-2">
          <mat-label>Grade Level</mat-label>
          <mat-select [(ngModel)]="selectedLevel" (ngModelChange)="updateRosters()" (selectionChange)="gradeLevelChange($event)">
            @for (lvl of gradelevel; track lvl) {
            <mat-option [value]="lvl">{{lvl}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        
        @if(selectedLevel == '11' || selectedLevel == '12'){
          <mat-form-field class="me-2">
            <mat-label>Strand</mat-label>
            <mat-select [(ngModel)]="selectedStrand" (ngModelChange)="updateRosters()" (selectionChange)="strandChange($event)">
              @for (strnd of strands; track strnd) {
                @if (strnd !== '-') { <!-- Exclude '-' from options -->
                  <mat-option [value]="strnd">{{strnd}}</mat-option>
                }
              }
            </mat-select>
          </mat-form-field>
          
        } 
        <mat-form-field class="me-2">
          <mat-label>Section</mat-label>
          <mat-select [(ngModel)]="selectedSection" (ngModelChange)="updateRosters()">
            @for (sect of sections; track sect) {
              <mat-option [value]="sect.section_name">{{sect.section_name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
       
        
        <mat-form-field class="me-2">
          <mat-label>Gender</mat-label>
          <mat-select [(ngModel)]="selectedGender" (ngModelChange)="updateRosters()">
            @for (gender of genders; track gender) {
            <mat-option [value]="gender">{{gender}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      
      </div>

      <div>
        @if(selectedLevel == '11' || selectedLevel == '12'){
          <mat-form-field class="me-2">
            <mat-label>Semester</mat-label>
            <mat-select [(ngModel)]="selectedSem" (ngModelChange)="updateRosters()" (selectionChange)="semChange($event)">
              @for (sem of semester; track sem) {
                @if (sem !== null) {
                  <mat-option [value]="sem">{{sem}}</mat-option>
                }
              }
            </mat-select>
          </mat-form-field>
        }

        <mat-form-field class="me-2">
          <mat-label>Subject</mat-label>
          <mat-select [(ngModel)]="selectedSubject" (ngModelChange)="updateRosters()" >
            @for (subject of subjects; track subject) {
            <mat-option [value]="subject.subject_name">{{subject.subject_name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <button mat-raised-button (click)="openConfig()">Configure Terms</button>
      </div>


          <!-- Class Roster -->
          <div class="container grds align-self-center p-3 bg-white rounded" >
            <div class="row">
              <div class="col-md-12 d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  @if(selectedLevel != '11' && selectedLevel != '12'){
                    <p class="h4 ms-2 text-start">Grade {{selectedLevel}} {{selectedSection}} - {{selectedSubject}} </p>
                  } @else {
                    <p class="h4 ms-2 text-start">Grade {{selectedLevel}} {{selectedStrand}} {{selectedSection}} - {{selectedSubject}} </p>
                  }     
                  
                </div>
                <div>
                  <span><strong>Male:</strong> {{ maleStudents }}</span>
                  <span class="ms-3"><strong>Female:</strong> {{ femaleStudents }}</span>
                  <span class="ms-3"><strong>Total:</strong> {{ totalStudents }}</span>
                  <i class="fa fa-search" aria-hidden="true" style="margin-left: 80px; margin-bottom: 50px; cursor: pointer;" (click)="showSearchRoster = !showSearchRoster"></i>
                </div>
              </div>
              @if(showSearchRoster){
                <input type="text" class="form-control search-input" placeholder="Search Name" aria-label="Name" aria-describedby="basic-addon2" [(ngModel)]="keyword">
              } 
              <table class="table table-hover mt-3" >
                @if(selectedLevel >= '7' || selectedLevel <= '10'){
                  <thead class="table">     
                      <tr>
                        <th scope="col">Names</th>
                          <th class="text-center">1st Grading</th>
                          <th class="text-center">2nd Grading</th>
                          <th class="text-center">3rd Grading</th>
                          <th class="text-center">4th Grading</th>
                          <th class="text-center">Final Grade</th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider" style="height: 40px; overflow-y: auto;">
                      @if(isLoadingRosterGrade){
                        <tr>
                          <td colspan="5" class="text-center">
                            <div class="loader">
                              <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                              <p>Loading Grades...</p>
                            </div>
                          </td>
                        </tr>
                      } @else {
                        @for(roster of rosters | searchFilter: keyword; track roster){
                            <tr >
                                <th scope="row" [routerLink]="['/main/grades/gradespage/studentgrades/' + roster.LRN + '/' + roster.school_year]">{{roster.student_name}}</th>
                                @if(roster.permission_Q1 == 'none' || roster.permission_Q1 == 'on'){
                                 <td class="text-center">{{roster.grade_Q1}}</td>
                                } @else if(roster.permission_Q1 == 'pending' || roster.grade_Q1 == 0) {
                                  <td class="text-center">{{roster.grade_Q1}} 
                                    <i class="fa fa-exclamation-circle pending" aria-hidden="true" (click)="toggleDropdown(roster.grade_id_Q1)"></i>
                                    <div *ngIf="dropdownVisibility[roster.grade_id_Q1]" class="dropdown-content">
                                      <tr>
                                        <td (click)="permit(roster.grade_id_Q1)">Allow</td>
                                      </tr>
                                      <tr>
                                        <td (click)="decline(roster.grade_id_Q1)">Decline</td>
                                      </tr>
                                    </div>
                                  </td>
                                  
                                }
                                @if(roster.permission_Q2 == 'none' || roster.permission_Q2 == 'on'){
                                  <td class="text-center">{{roster.grade_Q2}}</td>
                                 } @else if(roster.permission_Q2 == 'pending'|| roster.grade_Q2 == 0) {
                                  <td class="text-center">{{roster.grade_Q2}} 
                                    <i class="fa fa-exclamation-circle pending" aria-hidden="true" (click)="toggleDropdown(roster.grade_id_Q2)"></i>
                                    <div *ngIf="dropdownVisibility[roster.grade_id_Q2]" class="dropdown-content">
                                      <tr>
                                        <td (click)="permit(roster.grade_id_Q2)">Allow</td>
                                      </tr>
                                      <tr>
                                        <td (click)="decline(roster.grade_id_Q2)">Decline</td>
                                      </tr>
                                    </div>
                                  </td>
                                 }
                                 @if(roster.permission_Q3 == 'none' || roster.permission_Q3 == 'on'){
                                  <td class="text-center">{{roster.grade_Q3}}</td>
                                 } @else if(roster.permission_Q3 == 'pending' || roster.grade_Q3 == 0) {
                                  <td class="text-center">{{roster.grade_Q3}} 
                                    <i class="fa fa-exclamation-circle pending" aria-hidden="true" (click)="toggleDropdown(roster.grade_id_Q3)"></i>
                                    <div *ngIf="dropdownVisibility[roster.grade_id_Q3]" class="dropdown-content">
                                      <tr>
                                        <td (click)="permit(roster.grade_id_Q3)">Allow</td>
                                      </tr>
                                      <tr>
                                        <td (click)="decline(roster.grade_id_Q3)">Decline</td>
                                      </tr>
                                    </div>
                                  </td>
                                 }
                                 @if(roster.permission_Q4 == 'none' || roster.permission_Q4 == 'on'){
                                  <td class="text-center">{{roster.grade_Q4}}</td>
                                 } @else if(roster.permission_Q4 == 'pending' || roster.grade_Q4 == 0) {
                                  <td class="text-center">{{roster.grade_Q4}} 
                                    <i class="fa fa-exclamation-circle pending" aria-hidden="true" (click)="toggleDropdown(roster.grade_id_Q4)"></i>
                                    <div *ngIf="dropdownVisibility[roster.grade_id_Q4] " class="dropdown-content">
                                      <tr>
                                        <td (click)="permit(roster.grade_id_Q4)">Allow</td>
                                      </tr>
                                      <tr>
                                        <td (click)="decline(roster.grade_id_Q4)">Decline</td>
                                      </tr>
                                    </div>
                                  </td>
                                 }
                                 <td class="text-center">
                                  <span *ngIf="calculateAverage(roster.grade_Q1, roster.grade_Q2, roster.grade_Q3, roster.grade_Q4) > 0">
                                    {{ calculateAverage(roster.grade_Q1, roster.grade_Q2, roster.grade_Q3, roster.grade_Q4)}}
                                </span>
                                 </td>
                            </tr>
                            }@empty {
                              <tr>
                                <td colspan="5" class="text-center">
                                  No Students Found
                                </td>
                              </tr>
                              } 
                      }
                      
                    </tbody>
                  } @else {
                    <thead class="table"> 
                      <th scope="col">Names</th>
                        <th class="text-center">Midterm</th>
                        <th class="text-center">Final</th>
                        <th class="text-center"> Final Grade</th>                    
                      </thead>
                    @for(roster of rosters ; track roster){
                      <tr>
                        <th scope="row" [routerLink]="['/main/grades/gradespage/studentgrades/' + roster.LRN + '/' + roster.school_year]">{{roster.student_name}}</th>
                        @if(roster.permission_midterm == 'none' || roster.permission_midterm == 'on'){
                          <td class="text-center">{{roster.midterm}}</td>
                         } @else if(roster.permission_midterm == 'pending') {
                           <td class="text-center">{{roster.midterm}} 
                             <i class="fa fa-exclamation-circle pending" aria-hidden="true" (click)="toggleDropdown(roster.grade_id_midterm)"></i>
                             <div *ngIf="dropdownVisibility[roster.grade_id_midterm]" class="dropdown-content">
                               <tr>
                                 <td (click)="permit(roster.grade_id_midterm)">Allow</td>
                               </tr>
                               <tr>
                                 <td (click)="decline(roster.grade_id_midterm)">Decline</td>
                               </tr>
                             </div>
                           </td>
                           
                         }

                         @if(roster.permission_final == 'none' || roster.permission_final == 'on'){
                          <td class="text-center">{{roster.final}}</td>
                         } @else if(roster.permission_final == 'pending') {
                           <td class="text-center">{{roster.final}} 
                             <i class="fa fa-exclamation-circle pending" aria-hidden="true" (click)="toggleDropdown(roster.grade_id_final)"></i>
                             <div *ngIf="dropdownVisibility[roster.grade_id_final]" class="dropdown-content">
                               <tr>
                                 <td (click)="permit(roster.grade_id_final)">Allow</td>
                               </tr>
                               <tr>
                                 <td (click)="decline(roster.grade_id_final)">Decline</td>
                               </tr>
                             </div>
                           </td>
                           
                         }
                         <td class="text-center">
                          <span *ngIf="calculateAveragee(roster.midterm, roster.final) > 0">
                            {{ calculateAveragee(roster.midterm, roster.final)}}
                        </span>
                         </td>
                      </tr>
                    } @empty {
                      <tr>
                        <td colspan="5" class="text-center">
                          No Students Found
                        </td>
                      </tr>
                      }
                  }
                
              </table>
            </div>
          </div>          
    </div>
  </div>