<h2 mat-dialog-title>Enable/Disable Terms</h2>
<mat-dialog-content>
    <h6>Junior High</h6>
    <div>
        <p><mat-slide-toggle 
            [(ngModel)]="toggleStates['First Quarter']" 
            (change)="onToggleChange('First Quarter', $event)">
        </mat-slide-toggle> 1st Quarter</p>
        <p><mat-slide-toggle 
            [(ngModel)]="toggleStates['Second Quarter']" 
            (change)="onToggleChange('Second Quarter', $event)">
        </mat-slide-toggle> 2nd Quarter</p>
        <p><mat-slide-toggle 
            [(ngModel)]="toggleStates['Third Quarter']" 
            (change)="onToggleChange('Third Quarter', $event)">
        </mat-slide-toggle> 3rd Quarter</p>
        <p><mat-slide-toggle 
            [(ngModel)]="toggleStates['Fourth Quarter']" 
            (change)="onToggleChange('Fourth Quarter', $event)">
        </mat-slide-toggle> 4th Quarter</p>
    </div>
    <h6>Senior High</h6>
    <div>
        <p><mat-slide-toggle 
            [(ngModel)]="toggleStates['Midterm']" 
            (change)="onToggleChange('Midterm', $event)">
        </mat-slide-toggle> Midterm</p>
        <p><mat-slide-toggle 
            [(ngModel)]="toggleStates['Final']" 
            (change)="onToggleChange('Final', $event)">
        </mat-slide-toggle> Final</p>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <!-- <button mat-button (click)="delete()" cdkFocusInitial>Delete</button> -->
</mat-dialog-actions>
