<div class="container mb-5 ms-1">
  <p class="h1">Good Morning, Prinicipal</p>
  <p class="h5 ms-1">Monday <small class="text-body-secondary">August 19, 2024</small> </p> 
</div>

<!-- Table of Inquiries -->

<p class="container h4 ms-2 text-start">Recent Inquiries</p>
<div class="container align-self-center p-3 bg-white rounded" >
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead class="table">
          <tr>
            <th scope="col">Sender</th>
            <th scope="col">Message</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th class="text-center" scope="col">Date</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="row">Kimiko Fukuhara</th>
            <td class="text-body-secondary" colspan="3">Where na U?</td>
            <td class="text-center">04-04-2024</td>
          </tr>
          <tr>
            <th scope="row">Frenchie Biswe</th>
            <td class="text-body-secondary" colspan="3">Hi</td>
            <td class="text-center">04-05-2024</td>
          </tr>
          <tr>
            <th scope="row">Laz Alonzo</th>
            <td class="text-body-secondary" colspan="3">When?</td>
            <td class="text-center">04-06-2024</td>
          </tr>
          <tr>
            <th scope="row">William Butcher</th>
            <td class="text-body-secondary" colspan="3">Where are you?</td>
            <td class="text-center">04-07-2024</td>
          </tr>
          <tr>
            <th scope="row">Hughie Campbell</th>
            <td class="text-body-secondary" colspan="3">How much is the fee?</td>
            <td class="text-center">04-07-2024</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>