<div class="container mb-5 ms-1">
  <div class="row">
    <div class="col-md-8">
      <p class="h1">Good Morning, Registrar</p>
      <p class="h5 ms-1">Monday <small class="text-body-secondary">August 19, 2024</small></p>
      <!-- <ul>
        @for(admin of admins; track admin){
          <li>{{ admin.name }}</li>
        }
      </ul> -->
    </div>
    <div class="col-md-4">
      <div class="card bg-white p-3 enr" (click)="monitor()">
        <h5 class="card-title">Total: {{totalEnrollments}}</h5>
        <p class="card-text">Pending Enrollees: {{pendingEnrollees}}</p>
        <p class="card-text">Officially Enrolled: {{officiallyEnrolled}}</p>
      </div>
    </div>
  </div>
</div>



<!-- Table of Inquiries -->

<p class="container h4 ms-2 text-start">Recent Inquiries</p>
<div class="container align-self-center p-3 bg-white rounded" >
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead class="table">
          <tr>
            <th scope="col">Sender</th>
            <th scope="col">Message</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th class="text-center" scope="col">Date</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          @for (inq of inquries; track inquries) {
            <tr [routerLink]="['/main/message/messagepage/messages']">
              <th scope="row">{{inq.student_name}}</th>
              <td class="text-body-secondary" colspan="3">{{inq.message}}</td>
              <td class="text-center">{{inq.message_date | date: 'MMMM dd, yyyy'}}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>