.icon-year i {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
  }

  .loader {
    text-align: center;
    padding: 20px;
  }
  
  .spinner-border {
    width: 2rem;
    height: 2rem;
    border: 3px solid #ccc;
    border-top: 3px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .scrollable-container {
    max-height: calc(100vh - 400px); /* Adjust based on your layout */
    overflow-y: scroll; /* Enable scrolling */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.mntr {
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
  width: 100%;

}

.container {
  padding: 20px;
}

.table-responsive {
  display: block;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.loader-cell {
  height: 100px; /* Adjust height for loading */
}

.spinner-border {
  width: 2rem;
  height: 2rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .h1, .h4 {
    font-size: 1.5rem; /* Adjust heading size for smaller screens */
  }

  .search-input {
    width: 100%; /* Make search input full width */
    margin-bottom: 10px; /* Add margin below search input */
  }

  .d-flex {
    flex-direction: column; /* Stack elements vertically on small screens */
    align-items: flex-start; /* Align items to the start */
  }

  .table th, .table td {
    font-size: 0.9rem; /* Smaller font size for table cells */
    white-space: nowrap; /* Prevent text wrapping */
  }
}